Repository aws-solutions/research-service-workbench-on-aws, changes with the owners that .github/CODEOWNERS names for each.
All owners: @awslabs/aws-ma-foundation, @mabreuortega, @awslabs/aws-ma-swb

.github/CODEOWNERS:

*                                                     @awslabs/aws-ma-foundation
common/config/rush/browser-approved-packages.json
common/config/rush/nonbrowser-approved-packages.json
common/config/rush/pnpm-lock.yaml
.gitallowed
.gitattributes
.gitignore
common/changes/
solutions/example-ui-app                              @mabreuortega
solutions/swb-ui                                      @awslabs/aws-ma-swb
common/changes/@aws/swb-ui                           @awslabs/aws-ma-swb
solutions/swb-reference                               @awslabs/aws-ma-swb
common/changes/@aws/swb-reference                    @awslabs/aws-ma-swb
solutions/swb-app                                     @awslabs/aws-ma-swb
common/changes/@aws/swb-app                          @awslabs/aws-ma-swb
workbench-core/base                                   @awslabs/aws-ma-swb
common/changes/@aws/workbench-core-base              @awslabs/aws-ma-swb
workbench-core/environments                           @awslabs/aws-ma-swb
common/changes/@aws/workbench-core-environments                     @awslabs/aws-ma-swb

chore: change additional prefixes
  solutions/swb-app/src/authRoutes.ts
  solutions/swb-app/src/generateRouter.ts
  workbench-core/example/express/.eslintrc.js
  workbench-core/infrastructure/.eslintrc.js
Owners: @awslabs/aws-ma-swb, @awslabs/aws-ma-foundation

chore: additional rename changes
  workbench-core/example/infrastructure/.eslintrc.js
Owners: @awslabs/aws-ma-foundation

chore: eslint config custom readme updated
  workbench-core/eslint-custom/README.md
Owners: @awslabs/aws-ma-foundation

chore: update config
  solutions/swb-reference/integration-tests/config/example.yaml
Owners: @awslabs/aws-ma-swb

chore: working auth token for integration test
  solutions/swb-reference/integration-tests/support/clientSession.ts
  solutions/swb-reference/integration-tests/support/setup.ts
  solutions/swb-reference/integration-tests/support/utils/cognitoTokenService.ts
  solutions/swb-reference/integration-tests/support/utils/settings.ts
  solutions/swb-reference/integration-tests/support/utils/utilities.ts
  solutions/swb-reference/integration-tests/tests/isolated/environments/start.test.ts
Owners: @awslabs/aws-ma-swb

chore: generateCognitoTOken script working
  solutions/swb-reference/integration-tests/support/setup.ts
  solutions/swb-reference/scripts/generateCognitoTokens.js
  workbench-core/base/src/cognitoTokenService.ts
  workbench-core/base/src/index.ts
Owners: @awslabs/aws-ma-swb

feat: swap codeartifact with npm in publishing workflow
  common/config/rush/.npmrc
  common/config/rush/.npmrc-publish
Owners: @awslabs/aws-ma-foundation

feat: change publishing workflow from code artifact to npm
  .github/workflows/publish-and-merge-to-develop.yml
Owners: @awslabs/aws-ma-foundation

chore: one more amzn
  solutions/swb-ui/NOTICE
Owners: @awslabs/aws-ma-swb
